<h1>Add a New Actor</h1>

<form action="/actors/create_actor">

 Image link:
 <input name="image_url" type="text">
 Name:
 <input name="name" type="text">
 Date of Birth:
 <input name="dob" type="text">
 Biography:
 <input name="bio" type="text">

 <button>Create Actor</button>

</form>

<p><a href="/actors">Cancel and go back</a></p>
