<h1>Add a New Movie</h1>

<form action="/movies/create_movie">

 Image link:
 <input name="image_url" type="text">
 Title:
 <input name="title" type="text">
 Year:
 <input name="year" type="text">
 Duration:
 <input name="duration" type="text">
 Description:
 <input name="description" type="text">

 <button>Create Movie</button>

</form>

<p><a href="/movies">Cancel and go back</a></p>


