<h1>Add a New Director</h1>

<form action="/directors/create_director">

 Image link:
 <input name="image_url" type="text">
 Name:
 <input name="name" type="text">
 Date of Birth:
 <input name="dob" type="text">
 Biography:
 <input name="bio" type="text">

 <button>Create Director</button>

</form>

<p><a href="/directors">Cancel and go back</a></p>


